# Getting Started

In [1]:
import pyspark

In [2]:
sc = pyspark.SparkContext()
sc

In [3]:
sc.version

'3.5.3'

In [4]:
sc.master

'local[*]'

### Spark Session

`SparkSession` is the entry point to programming with Spark. It provides a single point of entry to interact with Spark functionality and to create `DataFrame` and `DataSet`. Creating multiple `SparkSessions` and `SparkContexts` can cause issues, so it's best practice to use the `SparkSession.builder.getOrCreate()` method. This returns an existing `SparkSession` if there's already one in the environment, or creates a new one if necessary!

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
spark

## Create RDD

In [18]:
iphones_RDD = sc.parallelize([("XS", 2018, 5.65, 2.79, 6.24),
                              ("XR", 2018, 5.94, 2.98, 6.84),
                              ("X10", 2017, 5.65, 2.79, 6.13),
                              ("8Plus", 2017, 6.23, 3.07, 7.12)])
iphones_RDD

ParallelCollectionRDD[26] at readRDDFromFile at PythonRDD.scala:289

In [19]:
iphones_RDD.collect()

[('XS', 2018, 5.65, 2.79, 6.24),
 ('XR', 2018, 5.94, 2.98, 6.84),
 ('X10', 2017, 5.65, 2.79, 6.13),
 ('8Plus', 2017, 6.23, 3.07, 7.12)]

# Working with PySpark DataFrame

## Create DataFrame from RDD

In [14]:
iphones_RDD = sc.parallelize([("XS", 2018, 5.65, 2.79, 6.24),
                              ("XR", 2018, 5.94, 2.98, 6.84),
                              ("X10", 2017, 5.65, 2.79, 6.13),
                              ("8Plus", 2017, 6.23, 3.07, 7.12)])

names = ['Model', 'Year', 'Height', 'Width', 'Weight']
iphones_df = spark.createDataFrame(iphones_RDD, schema=names) #schema = list of columns names

iphones_df.show()

+-----+----+------+-----+------+
|Model|Year|Height|Width|Weight|
+-----+----+------+-----+------+
|   XS|2018|  5.65| 2.79|  6.24|
|   XR|2018|  5.94| 2.98|  6.84|
|  X10|2017|  5.65| 2.79|  6.13|
|8Plus|2017|  6.23| 3.07|  7.12|
+-----+----+------+-----+------+

## Create DataFrame from Loading a File

df_csv = spark.read.csv("data.csv", header=True, inferSchema=True)

df_json = spark.read.json("data.json")

df_txt = spark.read.txt("data.txt")

In [23]:
!wget https://github.com/fahmimnalfrzki/Dataset/raw/refs/heads/main/Mall%20Customers.csv

--2024-11-28 16:48:33--  https://github.com/fahmimnalfrzki/Dataset/raw/refs/heads/main/Mall%20Customers.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/refs/heads/main/Mall%20Customers.csv [following]
--2024-11-28 16:48:33--  https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/refs/heads/main/Mall%20Customers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4877 (4.8K) [text/plain]
Saving to: ‘Mall Customers.csv’

Mall Customers.csv  100%[===================>]   4.76K  --.-KB/s    in 0s

2024-11-28 16:48:34 (30.1 MB/s) - ‘Mall Customers.csv’ saved [4877/4877]

In [69]:
data = spark.read.csv('Mall Customers.csv', header=True, inferSchema=True)
data.show()

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
|  0|         1|  Male| 19|                15|                    39|    0|
|  1|         2|  Male| 21|                15|                    81|    4|
|  2|         3|Female| 20|                16|                     6|    0|
|  3|         4|Female| 23|                16|                    77|    4|
|  4|         5|Female| 31|                17|                    40|    0|
|  5|         6|Female| 22|                17|                    76|    4|
|  6|         7|Female| 35|                18|                     6|    0|
|  7|         8|Female| 23|                18|                    94|    4|
|  8|         9|  Male| 64|                19|                     3|    0|
|  9|        10|Female| 30|                19|                    72|    4|
| 10|        11|  Male| 67|                19|                    14|    0|
| 11|        12|Female| 35|                19|                    99|    4|
| 12|        13|Female| 58|                20|                    15|    0|
| 13|        14|Female| 24|                20|                    77|    4|
| 14|        15|  Male| 37|                20|                    13|    0|
| 15|        16|  Male| 22|                20|                    79|    4|
| 16|        17|Female| 35|                21|                    35|    0|
| 17|        18|  Male| 20|                21|                    66|    4|
| 18|        19|  Male| 52|                23|                    29|    0|
| 19|        20|Female| 35|                23|                    98|    4|
+---+----------+------+---+------------------+----------------------+-----+
only showing top 20 rows

## Simple Data Exploration

## Viewing Data

In [27]:
# Top 5

data.show(5)

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
|  0|         1|  Male| 19|                15|                    39|    0|
|  1|         2|  Male| 21|                15|                    81|    4|
|  2|         3|Female| 20|                16|                     6|    0|
|  3|         4|Female| 23|                16|                    77|    4|
|  4|         5|Female| 31|                17|                    40|    0|
+---+----------+------+---+------------------+----------------------+-----+
only showing top 5 rows

In [35]:
data.tail(5)

[Row(_c0=195, CustomerID=196, Gender='Female', Age=35, Annual Income (k$)=120, Spending Score (1-100)=79, Label=1),
 Row(_c0=196, CustomerID=197, Gender='Female', Age=45, Annual Income (k$)=126, Spending Score (1-100)=28, Label=2),
 Row(_c0=197, CustomerID=198, Gender='Male', Age=32, Annual Income (k$)=126, Spending Score (1-100)=74, Label=1),
 Row(_c0=198, CustomerID=199, Gender='Male', Age=32, Annual Income (k$)=137, Spending Score (1-100)=18, Label=2),
 Row(_c0=199, CustomerID=200, Gender='Male', Age=30, Annual Income (k$)=137, Spending Score (1-100)=83, Label=1)]

The rows can also be shown vertically. This is useful when rows are too long to show horizontally.

In [32]:
data.show(2, vertical=True)

-RECORD 0----------------------
 _c0                    | 0
 CustomerID             | 1
 Gender                 | Male
 Age                    | 19
 Annual Income (k$)     | 15
 Spending Score (1-100) | 39
 Label                  | 0
-RECORD 1----------------------
 _c0                    | 1
 CustomerID             | 2
 Gender                 | Male
 Age                    | 21
 Annual Income (k$)     | 15
 Spending Score (1-100) | 81
 Label                  | 4
only showing top 2 rows

### Schema Info

In [28]:
data.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Annual Income (k$): integer (nullable = true)
 |-- Spending Score (1-100): integer (nullable = true)
 |-- Label: integer (nullable = true)

### View Columns Names

In [29]:
data.columns

['_c0',
 'CustomerID',
 'Gender',
 'Age',
 'Annual Income (k$)',
 'Spending Score (1-100)',
 'Label']

### Show Description Statistics Summary

In [33]:
data.describe().show()

+-------+------------------+------------------+------+-----------------+------------------+----------------------+------------------+
|summary|               _c0|        CustomerID|Gender|              Age|Annual Income (k$)|Spending Score (1-100)|             Label|
+-------+------------------+------------------+------+-----------------+------------------+----------------------+------------------+
|  count|               200|               200|   200|              200|               200|                   200|               200|
|   mean|              99.5|             100.5|  NULL|            38.85|             60.56|                  50.2|              2.19|
| stddev|57.879184513951124|57.879184513951124|  NULL|13.96900733155888| 26.26472116527124|    25.823521668370173|1.2088035531676578|
|    min|                 0|                 1|Female|               18|                15|                     1|                 0|
|    max|               199|               200|  Male|               70|               137|                    99|                 4|
+-------+------------------+------------------+------+-----------------+------------------+----------------------+------------------+

## Select and Accessing Data

### Column

PySpark DataFrame is lazily evaluated and simply selecting a column does not trigger the computation but it returns a Column instance.

In [40]:
data.Gender

Column<'Gender'>

In [41]:
data.Gender.show() #It will be error

TypeError: 'Column' object is not callable

In [42]:
data.select('Gender')

DataFrame[Gender: string]

In [43]:
data.select('Gender').show()

+------+
|Gender|
+------+
|  Male|
|  Male|
|Female|
|Female|
|Female|
|Female|
|Female|
|Female|
|  Male|
|Female|
|  Male|
|Female|
|Female|
|Female|
|  Male|
|  Male|
|Female|
|  Male|
|  Male|
|Female|
+------+
only showing top 20 rows

In [46]:
# Multiple columns

data.select("CustomerID","Gender","Age").show(5)

+----------+------+---+
|CustomerID|Gender|Age|
+----------+------+---+
|         1|  Male| 19|
|         2|  Male| 21|
|         3|Female| 20|
|         4|Female| 23|
|         5|Female| 31|
+----------+------+---+
only showing top 5 rows

### Row

There is no way like Pandas .loc or .iloc to access row in pySpark. We can use filter (similar to where in SQL)

In [52]:
data.filter(data._c0 == 1).show()

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
|  1|         2|  Male| 21|                15|                    81|    4|
+---+----------+------+---+------------------+----------------------+-----+

or

In [53]:
data.filter("_c0 == 10").show()

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
| 10|        11|  Male| 67|                19|                    14|    0|
+---+----------+------+---+------------------+----------------------+-----+

## Grouping Data

Grouping and then applying the avg() function to the resulting groups.

In [59]:
data.groupby('Gender').avg().show()

+------+------------------+------------------+------------------+-----------------------+---------------------------+------------------+
|Gender|          avg(_c0)|   avg(CustomerID)|          avg(Age)|avg(Annual Income (k$))|avg(Spending Score (1-100))|        avg(Label)|
+------+------------------+------------------+------------------+-----------------------+---------------------------+------------------+
|Female|           96.5625|           97.5625|38.098214285714285|                  59.25|         51.526785714285715| 2.205357142857143|
|  Male|103.23863636363636|104.23863636363636| 39.80681818181818|      62.22727272727273|          48.51136363636363|2.1704545454545454|
+------+------------------+------------------+------------------+-----------------------+---------------------------+------------------+

**Specific averaging a certain column**

In [60]:
data.groupby('Gender').avg("Age").show()

+------+------------------+
|Gender|          avg(Age)|
+------+------------------+
|Female|38.098214285714285|
|  Male| 39.80681818181818|
+------+------------------+

**Group by Multiple Columns**

In [62]:
dat = [
    (1, "Alice", "HR", 50000),
    (2, "Bob", "Finance", 60000),
    (3, "Cathy", "HR", 70000),
    (4, "David", "Finance", 80000),
    (5, "Eve", "IT", 75000),
    (6, "Frank", "IT", 65000),
    (7, "Grace", "HR", 60000)
]
schema = ["ID", "Name", "Department", "Salary"]
df = spark.createDataFrame(dat, schema)


df.groupBy("Department", "Name").sum("Salary").show()

+----------+-----+-----------+
|Department| Name|sum(Salary)|
+----------+-----+-----------+
|        HR|Cathy|      70000|
|        HR|Alice|      50000|
|   Finance|  Bob|      60000|
|        IT|Frank|      65000|
|        IT|  Eve|      75000|
|   Finance|David|      80000|
|        HR|Grace|      60000|
+----------+-----+-----------+

**Aggregate Multiple Metrics**

In [64]:
from pyspark.sql.functions import avg, max, min

# Group by Department and calculate average, maximum, and minimum salary
df_aggregated = df.groupBy("Department").agg(
    avg("Salary").alias("Average Salary"),
    max("Salary").alias("Maximum Salary"),
    min("Salary").alias("Minimum Salary")
)

df_aggregated.show()

+----------+--------------+--------------+--------------+
|Department|Average Salary|Maximum Salary|Minimum Salary|
+----------+--------------+--------------+--------------+
|        HR|       60000.0|         70000|         50000|
|   Finance|       70000.0|         80000|         60000|
|        IT|       70000.0|         75000|         65000|
+----------+--------------+--------------+--------------+

## Ordering Data

In [66]:
df.orderBy("Salary").show(10) #ascending order by default

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1|Alice|        HR| 50000|
|  7|Grace|        HR| 60000|
|  2|  Bob|   Finance| 60000|
|  6|Frank|        IT| 65000|
|  3|Cathy|        HR| 70000|
|  5|  Eve|        IT| 75000|
|  4|David|   Finance| 80000|
+---+-----+----------+------+

**Ascending and Descending**

In [67]:
#Ascending
df.orderBy(df.Salary.asc()).show(10)

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1|Alice|        HR| 50000|
|  7|Grace|        HR| 60000|
|  2|  Bob|   Finance| 60000|
|  6|Frank|        IT| 65000|
|  3|Cathy|        HR| 70000|
|  5|  Eve|        IT| 75000|
|  4|David|   Finance| 80000|
+---+-----+----------+------+

In [68]:
#Descending
df.orderBy(df.Salary.desc()).show(10)

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  4|David|   Finance| 80000|
|  5|  Eve|        IT| 75000|
|  3|Cathy|        HR| 70000|
|  6|Frank|        IT| 65000|
|  2|  Bob|   Finance| 60000|
|  7|Grace|        HR| 60000|
|  1|Alice|        HR| 50000|
+---+-----+----------+------+

# Data Transformation using PySpark

### Adding a new column

In [54]:
data.withColumn("Age_plus_10", data.Age + 10).show(5)

+---+----------+------+---+------------------+----------------------+-----+-----------+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|Age_plus_10|
+---+----------+------+---+------------------+----------------------+-----+-----------+
|  0|         1|  Male| 19|                15|                    39|    0|         29|
|  1|         2|  Male| 21|                15|                    81|    4|         31|
|  2|         3|Female| 20|                16|                     6|    0|         30|
|  3|         4|Female| 23|                16|                    77|    4|         33|
|  4|         5|Female| 31|                17|                    40|    0|         41|
+---+----------+------+---+------------------+----------------------+-----+-----------+
only showing top 5 rows

In [56]:
data.show(5) #The new column didn't inplace

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
|  0|         1|  Male| 19|                15|                    39|    0|
|  1|         2|  Male| 21|                15|                    81|    4|
|  2|         3|Female| 20|                16|                     6|    0|
|  3|         4|Female| 23|                16|                    77|    4|
|  4|         5|Female| 31|                17|                    40|    0|
+---+----------+------+---+------------------+----------------------+-----+
only showing top 5 rows

In [57]:
data_new = data.withColumn("Age_plus_10", data.Age + 10)
data_new.show(5)

+---+----------+------+---+------------------+----------------------+-----+-----------+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|Age_plus_10|
+---+----------+------+---+------------------+----------------------+-----+-----------+
|  0|         1|  Male| 19|                15|                    39|    0|         29|
|  1|         2|  Male| 21|                15|                    81|    4|         31|
|  2|         3|Female| 20|                16|                     6|    0|         30|
|  3|         4|Female| 23|                16|                    77|    4|         33|
|  4|         5|Female| 31|                17|                    40|    0|         41|
+---+----------+------+---+------------------+----------------------+-----+-----------+
only showing top 5 rows

## Drop Column

**Single Column**

In [70]:
# Drop the "Age_plus_10" column
data_dropped = data.drop("Age_plus_10")

data_dropped.show()

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
|  0|         1|  Male| 19|                15|                    39|    0|
|  1|         2|  Male| 21|                15|                    81|    4|
|  2|         3|Female| 20|                16|                     6|    0|
|  3|         4|Female| 23|                16|                    77|    4|
|  4|         5|Female| 31|                17|                    40|    0|
|  5|         6|Female| 22|                17|                    76|    4|
|  6|         7|Female| 35|                18|                     6|    0|
|  7|         8|Female| 23|                18|                    94|    4|
|  8|         9|  Male| 64|                19|                     3|    0|
|  9|        10|Female| 30|                19|                    72|    4|
| 10|        11|  Male| 67|                19|                    14|    0|
| 11|        12|Female| 35|                19|                    99|    4|
| 12|        13|Female| 58|                20|                    15|    0|
| 13|        14|Female| 24|                20|                    77|    4|
| 14|        15|  Male| 37|                20|                    13|    0|
| 15|        16|  Male| 22|                20|                    79|    4|
| 16|        17|Female| 35|                21|                    35|    0|
| 17|        18|  Male| 20|                21|                    66|    4|
| 18|        19|  Male| 52|                23|                    29|    0|
| 19|        20|Female| 35|                23|                    98|    4|
+---+----------+------+---+------------------+----------------------+-----+
only showing top 20 rows

In [71]:
datamulti_dropped = data.drop("Annual Income (k$)","Age_plus_10")

datamulti_dropped.show()

+---+----------+------+---+----------------------+-----+
|_c0|CustomerID|Gender|Age|Spending Score (1-100)|Label|
+---+----------+------+---+----------------------+-----+
|  0|         1|  Male| 19|                    39|    0|
|  1|         2|  Male| 21|                    81|    4|
|  2|         3|Female| 20|                     6|    0|
|  3|         4|Female| 23|                    77|    4|
|  4|         5|Female| 31|                    40|    0|
|  5|         6|Female| 22|                    76|    4|
|  6|         7|Female| 35|                     6|    0|
|  7|         8|Female| 23|                    94|    4|
|  8|         9|  Male| 64|                     3|    0|
|  9|        10|Female| 30|                    72|    4|
| 10|        11|  Male| 67|                    14|    0|
| 11|        12|Female| 35|                    99|    4|
| 12|        13|Female| 58|                    15|    0|
| 13|        14|Female| 24|                    77|    4|
| 14|        15|  Male| 37|                    13|    0|
| 15|        16|  Male| 22|                    79|    4|
| 16|        17|Female| 35|                    35|    0|
| 17|        18|  Male| 20|                    66|    4|
| 18|        19|  Male| 52|                    29|    0|
| 19|        20|Female| 35|                    98|    4|
+---+----------+------+---+----------------------+-----+
only showing top 20 rows

## Rename Column

In [74]:
data_colrenamed = data.withColumnRenamed("Annual Income (k$)", "Annual_Income")
data_colrenamed.show(5)

+---+----------+------+---+-------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual_Income|Spending Score (1-100)|Label|
+---+----------+------+---+-------------+----------------------+-----+
|  0|         1|  Male| 19|           15|                    39|    0|
|  1|         2|  Male| 21|           15|                    81|    4|
|  2|         3|Female| 20|           16|                     6|    0|
|  3|         4|Female| 23|           16|                    77|    4|
|  4|         5|Female| 31|           17|                    40|    0|
+---+----------+------+---+-------------+----------------------+-----+
only showing top 5 rows

## Handling Missing Values

In [75]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

# Define schema
schema = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Salary", FloatType(), True)
])

# Create sample data with missing values and duplicates
dat1 = [
    (1, "Alice", 25, 50000.0),
    (2, "Bob", None, 60000.0),
    (3, "Cathy", 28, None),
    (4, None, 30, 70000.0),
    (5, "Eve", 35, 80000.0),
    (5, "Eve", 35, 80000.0),
    (6, "Frank", None, None),
    (6, "Frank", None, None)
]

# Create DataFrame
df1 = spark.createDataFrame(dat1, schema)

# Show initial DataFrame
print("Initial DataFrame:")
df1.show()

Initial DataFrame:
+---+-----+----+-------+
| ID| Name| Age| Salary|
+---+-----+----+-------+
|  1|Alice|  25|50000.0|
|  2|  Bob|NULL|60000.0|
|  3|Cathy|  28|   NULL|
|  4| NULL|  30|70000.0|
|  5|  Eve|  35|80000.0|
|  5|  Eve|  35|80000.0|
|  6|Frank|NULL|   NULL|
|  6|Frank|NULL|   NULL|
+---+-----+----+-------+

**Drop rows with missing values**

In [80]:
df1_dropped = df1.na.drop()
print("After Dropping Rows with Missing Values:")
df1_dropped.show()

After Dropping Rows with Missing Values:
+---+-----+---+-------+
| ID| Name|Age| Salary|
+---+-----+---+-------+
|  1|Alice| 25|50000.0|
|  5|  Eve| 35|80000.0|
|  5|  Eve| 35|80000.0|
+---+-----+---+-------+

**Fill missing values**

In [79]:
df1_filled = df1.na.fill({"Age": 0, "Salary": 0.0, "Name": "Unknown"})
print("After Filling Missing Values:")
df1_filled.show()

After Filling Missing Values:
+---+-------+---+-------+
| ID|   Name|Age| Salary|
+---+-------+---+-------+
|  1|  Alice| 25|50000.0|
|  2|    Bob|  0|60000.0|
|  3|  Cathy| 28|    0.0|
|  4|Unknown| 30|70000.0|
|  5|    Eve| 35|80000.0|
|  5|    Eve| 35|80000.0|
|  6|  Frank|  0|    0.0|
|  6|  Frank|  0|    0.0|
+---+-------+---+-------+

**Drop rows with missing values in specific columns**

In [82]:
df1_dropped_subset = df1.na.drop(subset=["Age", "Salary"])
print("After Dropping Rows with Missing Values in Age and Salary Columns:")
df1_dropped_subset.show()

After Dropping Rows with Missing Values in Age and Salary Columns:
+---+-----+---+-------+
| ID| Name|Age| Salary|
+---+-----+---+-------+
|  1|Alice| 25|50000.0|
|  4| NULL| 30|70000.0|
|  5|  Eve| 35|80000.0|
|  5|  Eve| 35|80000.0|
+---+-----+---+-------+

##Handling Duplicate Rows

In [83]:
df1.show()

+---+-----+----+-------+
| ID| Name| Age| Salary|
+---+-----+----+-------+
|  1|Alice|  25|50000.0|
|  2|  Bob|NULL|60000.0|
|  3|Cathy|  28|   NULL|
|  4| NULL|  30|70000.0|
|  5|  Eve|  35|80000.0|
|  5|  Eve|  35|80000.0|
|  6|Frank|NULL|   NULL|
|  6|Frank|NULL|   NULL|
+---+-----+----+-------+

**Drop duplicate rows**

In [84]:
df1_no_duplicates = df1.dropDuplicates()
print("After Dropping Duplicate Rows:")
df1_no_duplicates.show()

After Dropping Duplicate Rows:
+---+-----+----+-------+
| ID| Name| Age| Salary|
+---+-----+----+-------+
|  1|Alice|  25|50000.0|
|  5|  Eve|  35|80000.0|
|  2|  Bob|NULL|60000.0|
|  3|Cathy|  28|   NULL|
|  4| NULL|  30|70000.0|
|  6|Frank|NULL|   NULL|
+---+-----+----+-------+

Drop duplicates based on specific columns:

In [85]:
df1_no_duplicates_subset = df1.dropDuplicates(["ID", "Name"])
print("After Dropping Duplicates Based on ID and Name:")
df1_no_duplicates_subset.show()

After Dropping Duplicates Based on ID and Name:
+---+-----+----+-------+
| ID| Name| Age| Salary|
+---+-----+----+-------+
|  3|Cathy|  28|   NULL|
|  2|  Bob|NULL|60000.0|
|  1|Alice|  25|50000.0|
|  4| NULL|  30|70000.0|
|  5|  Eve|  35|80000.0|
|  6|Frank|NULL|   NULL|
+---+-----+----+-------+

# Working with SQL

DataFrame and Spark SQL share the same execution engine so they can be interchangeably used seamlessly. For example, you can register the DataFrame as a table and run a SQL easily as below:

In [86]:
data.show(5)

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
|  0|         1|  Male| 19|                15|                    39|    0|
|  1|         2|  Male| 21|                15|                    81|    4|
|  2|         3|Female| 20|                16|                     6|    0|
|  3|         4|Female| 23|                16|                    77|    4|
|  4|         5|Female| 31|                17|                    40|    0|
+---+----------+------+---+------------------+----------------------+-----+
only showing top 5 rows

In [88]:
data.createOrReplaceTempView("customers")
spark.sql("SELECT count(*) from customers").show()

+--------+
|count(1)|
+--------+
|     200|
+--------+

In [95]:
high_income = spark.sql('''Select * from customers
              where `Annual Income (k$)` > 20
''')

high_income.show(5)

+---+----------+------+---+------------------+----------------------+-----+
|_c0|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|Label|
+---+----------+------+---+------------------+----------------------+-----+
| 16|        17|Female| 35|                21|                    35|    0|
| 17|        18|  Male| 20|                21|                    66|    4|
| 18|        19|  Male| 52|                23|                    29|    0|
| 19|        20|Female| 35|                23|                    98|    4|
| 20|        21|  Male| 35|                24|                    35|    0|
+---+----------+------+---+------------------+----------------------+-----+
only showing top 5 rows

# Transforming Data into Another Format

### To Pandas DataFrame

PySpark DataFrame also provides the conversion back to a pandas DataFrame to leverage pandas APIs. Note that toPandas also collects all data into the driver side that can easily cause an out-of-memory-error when the data is too large to fit into the driver side.

In [96]:
high_income.toPandas()

,_c0,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Label
0,16,17,Female,35,21,35,0
1,17,18,Male,20,21,66,4
2,18,19,Male,52,23,29,0
3,19,20,Female,35,23,98,4
4,20,21,Male,35,24,35,0
...,...,...,...,...,...,...,...
179,195,196,Female,35,120,79,1
180,196,197,Female,45,126,28,2
181,197,198,Male,32,126,74,1
182,198,199,Male,32,137,18,2
183,199,200,Male,30,137,83,1

### To File

For example to .csv

In [97]:
high_income.write.csv('high_income.csv', header=True)

### To JSON

In [99]:
high_income.toJSON().first()

'{"_c0":16,"CustomerID":17,"Gender":"Female","Age":35,"Annual Income (k$)":21,"Spending Score (1-100)":35,"Label":0}'

## To RDD

In [101]:
high_income.rdd

MapPartitionsRDD[292] at javaToPython at NativeMethodAccessorImpl.java:0

# Connecting to Database

**Please running this section in Visual Studio Code**

We can connect PySpark to any database such as PostgreSQL.

We will try to insert data from `high_income` data to PostgreSQL database.

Firstly, you have to create the table, please run the query below:
```sql
CREATE TABLE customer_data (
    CustomerID INT NOT NULL,              
    Gender VARCHAR(10) NOT NULL,       
    Age INT NOT NULL,                     
    Annual_Income INT NOT NULL,
    Spending_Score INT NOT NULL,          
    Label INT NOT NULL                    
);
```

### Create a connection

Before we go further, we need to download JDBC driver to create the postgresql connection in PySpark. Download available [here](https://jdbc.postgresql.org/download.html). Note that you have to specify the version that match with Java version in your local computer.

### Create the SparkSession and DataFrame

```python
from pyspark.sql import SparkSession


spark = SparkSession\
    .builder\
    .appName("Python Spark PostgreSQL")\
    .config("spark.jars", "path to jbdc driver .jar file")\
    .getOrCreate()

df = spark.read.csv('Mall Customers.csv', header=True, inferSchema=True)
df = df.drop("_c0")
```

### Insert data into database

```python
# Replace these values with your database credentials
db_user = "your_db_username"
db_password = "your_db_password"
db_host = "localhost"
db_port = "5432"
db_name = "your_db_name"

df.write \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://{db_host}:{db_port}/{db_name}") \
    .option("dbtable", "customer_data") \
    .option("user", db_user) \
    .option("password", db_password) \
    .option("driver", "org.postgresql.Driver").save()
```

Furthermore, to read data from the table you can use the syntax below:
```python
data = spark.read \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://{db_host}:{db_port}/{db_name}") \
    .option("dbtable", "customer_data") \
    .option("user", db_user) \
    .option("password", db_password) \
    .option("driver", "org.postgresql.Driver").load()
```

### ALTERNATIVE

If the codes above didn't work, you can convert the PySpark DataFrame into Pandas DataFrame and connect the Pandas with PostgreSQL using SQLAlchemy engine.

`!pip -q install sqlalchemy psycopg2`

And use those codes:
```python
from sqlalchemy import create_engine
# Replace these values with your database credentials
db_user = "your_db_username"
db_password = "your_db_password"
db_host = "localhost"
db_port = "5432"
db_name = "your_db_name"

# Create a connection string
connection_string = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Create the database engine
engine = create_engine(connection_string)


df_pandas = df.toPandas()
df_pandas.to_sql("customer_data", engine, if_exists='replace', index=False)
```

**Note**: In real case, using Apache Spark means your data is big data, so if you convert into Pandas DataFrame, it might be inefficient. However, in our case in this module, there is no problem with this because the data is not a big data.

# End of Spark Session

To end the Spark session and context, you can run:

`spark.stop()`